.container {
  font-family: "Gotu", sans-serif;
}
body {
  background-color: lightgray;
}

.navbar {
  width: 100%;
  text-decoration: underline;
  font-family: "Gotu", sans-serif;
}
.navbar-default .navbar-fnt {
  color: white;
}
